<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webmvcprojectsetting</display-name>
  
  <!-- 한글처리를 위한 필터 설정 
     - request는 get방식 처리할 때
     - <c:url 태그에 직접 파라메터를 작성하면 필터가 적용 안되는 경우 발견
     - <c:param 태그를 사용하여 처리한다
    -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
   <filter-name>encodingFilter</filter-name>
   <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <!-- XSS(cross site script) 방어 필터 설정 
     - 태그의 '<'를 "&lt;", '>'를 "&gt;", '&'를 "&amp;",
     -      '"'를 "&quot;", '\'를 "&apos;"로 변환하여 일반문자로 인식하게 한다.
    -->
  <filter>
    <filter-name>HTMLTagFilter</filter-name>
    <filter-class>egovframework.rte.ptl.mvc.filter.HTMLTagFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HTMLTagFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <!-- ApplicationContext 빈 설정 파일 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
	<param-value>
      <!-- 빈 설정 파일들간에 구분은 줄바꿈(\n),컴마(,),세미콜론(;)등으로 한다.
         - e.g. /WEB-INF/config/easycompany-service.xml,/WEB-INF/config/easycompany-dao.xml
        --> 
      classpath*:egovframework/spring/context-*.xml
    </param-value>
  </context-param>
	
  <!-- 웹 어플리케이션이 시작되는 시점에 ApplicationContext을 로딩
     - context-param의 파일들을 설정정보로 사용한다.
    -->
  <listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- DispacherServlet --> 
  <servlet>
    <servlet-name>DispacherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/projectName_servlet.xml</param-name>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispacherServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <!-- 세션 시간 설정 1440분 = 1일 -->
  <session-config>
    <session-timeout>1440</session-timeout>
  </session-config>
  
  <!-- Spring JSTL 설정 -->
  <jsp-config>
    <taglib>
      <taglib-uri>http://www.springframework.org/tags/form</taglib-uri>
      <taglib-location>/WEB-INF/tlds/spring-form.tld</taglib-location>
    </taglib>
  </jsp-config>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>